main {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main img {
    width: 80%;
}

main p:first-of-type {
    width: 80%;
    text-justify: newspaper;
}

main p:last-of-type {
    align-self: flex-start;
    margin-left: 50px;
}

nav {
    margin-top: -120px;
}
nav>ul>li:nth-of-type(4) a {
    color: aliceblue;
}



#menu {
    margin-top: -80px;
}
